.title {
  font-family: Helvetica,Arial,Sans-serif;
  min-width: 320px;
  // font-size: 1.1rem;
  line-height: 1.4em;
  overflow: scroll;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}

.sub {
  font-family: Helvetica,Arial,Sans-serif;
  min-width: 320px;
  // font-size: 1.1rem;
  line-height: 1.4em;
  overflow: scroll;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}


#cat-nav a.canvas, .navigation ul a.canvas .canvas {
  color: #0c0;
}

#cat-nav a.paper, .navigation ul a.paper {
    color: #00f;
}

#cat-nav a.monocopies, .navigation ul a.monocopies {
    color: red;
}

#cat-nav a.about, .navigation ul a.about {
    color: #212121;
}

.canvas {
  color: #0c0;
}

.paper {
    color: #00f;
}

.monocopies {
    color: red;
}
